/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.votes {
    color: #555555;
    text-align: center;
}

.mini-counts {
    font-size: 190%;
    font-weight: bold;
    height: 25px;
}

.summary h3 {
    font-size: 120%;
}

h3 {
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 110%;
    font-weight: bold;
    line-height: 1.3;
}

.started { 
  float:right;
  width:185px;
  height:55px;
  margin-top:5px;
}

.started {
  width:185px;
  color:#999;
  float:right;
  line-height:18px;
}

.relativetime {
    font-weight: bold;
    text-decoration: none;
}

h3 a {
  color:#333;
}

.f-left {
  float:right;
}

.commented {
    background: none repeat scroll 0 0 #75845C;
    color: #FFFFFF;
    text-align: center;
}

.status {
    float: left;
    height: 38px;
    margin: 0 3px 0 0;
    padding: 5px;
    width: 63px;
    margin-top: -5px;
}

.views {
    color: #999999;
    text-align: center;
}
